# adds everybody as a reviewer on all the PRs
* @LavaMoat/devs

*eslint*                @boneskull @LavaMoat/devs
*release-please*        @boneskull @LavaMoat/devs
.config/README.md       @boneskull @LavaMoat/devs
.husky/**/*             @boneskull @LavaMoat/devs
package.json            @legobeat  @LavaMoat/devs
packages/*/package.json @legobeat  @LavaMoat/devs
renovate*               @boneskull @LavaMoat/devs
tsconfig*.json          @boneskull @legobeat @LavaMoat/devs
yarn.lock               @legobeat  @LavaMoat/devs
