.package:hover {
    cursor: pointer;
    background: #dcdcdc;
}
.navWrapper {
  display: flex;
  justify-content: space-between;
}
.buttonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.helpMessage {
  margin-right: 10px;
  color: #808080;
}
.sourceButton {
  height: 100%;
}
.CodeMirror {
  width: 100%
}
.packagesStyle {
  position: absolute;
  left: 0px;
  height: 100%;
  overflow: scroll;
  background: rgba(232, 232, 232, 0.78);
  padding: 12px;
  z-index: 1;
}
.packageInfoStyle {
  position: absolute;
  right: 0;
  background: rgba(232, 232, 232, 0.78);
  padding: 12px;
  z-index: 1;
}
.codeWrapper {
  position: absolute;
  width: 40%;
  right: 0;
  background: rgba(232, 232, 232, 0.78);
  padding: 12px;
  z-index: 1;
}
.highlight {
  background-color: #FFFF00 !important
}