name: macOS Tests
on:
  push:
    branches:
      - main # limit to main, because pushes to pull-requested branches are triggered below
  pull_request:
    # any pull request

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  compatibility-test-macos:
    name: Test macOS compatibility
    runs-on: macos-15
    env:
      FORCE_COLOR: '1'
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Use Node.js
        uses: ./.github/actions/prepare
      - name: Build & Test
        uses: ./.github/actions/test
  rerun:
    name: Rerun flaky macOS tests
    needs: compatibility-test-macos
    if: needs.compatibility-test-macos.result == 'failure' && fromJSON(github.run_attempt) < 3
    runs-on: macos-15
    steps:
      - env:
          GH_REPO: ${{ github.repository }}
          GH_TOKEN: ${{ github.token }}
          GH_DEBUG: api
        run: gh workflow run rerun.yml -f run_id=${{ github.run_id }} -f runner=macos-15
