# this workflow automatically creates release PRs when something gets merged into the main branch.
# we're using the strategy documented here https://github.com/googleapis/release-please/blob/main/docs/manifest-releaser.md

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4
